/** {
  border: 1px solid yellow;
}*/

.background {
  margin: 0 auto;
  max-width: 500px;
  color: #E7E7E7;
  font-family: 'Raleway', sans-serif;
  background: rgba(5,197,255,1);
  background: -moz-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,197,255,1)), color-stop(33%, rgba(86,139,255,1)), color-stop(90%, rgba(226,38,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -o-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -ms-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: linear-gradient(135deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05c5ff', endColorstr='#e226ff', GradientType=1 );
}

.heading-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #05C5FF;
  margin: 0;
  padding: 1em;
}

.heading-icon-container {
  position: absolute;
  top: -.2em;
  font-size: 4.35em;
  text-align: center;
  padding-left: .25em;
}

.heading-icon-container a {
  color: white;
}

.heading-icon-container:hover a {
  opacity: .5;
}

.heading-h1-container {
  margin: auto;
}

.heading-h1 {
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navigation-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation-options li {
  color: white;
  box-sizing: border-box;
  width: 50%;
  letter-spacing: 1px;
  margin: 0;
  padding: 2.75em 0;
}

.navigation-options li:hover {
  cursor: pointer;
  background-color: rgba(240,240,240,.5);
}
.navigation-options i {
  font-size: 2.25em;
  color: #E7E7E7;
  padding-bottom: .25em;
  display: block;
}

.navigation-options li a {
  color: white;
  text-decoration: none;
}

.navigation-options li:hover i,
.navigation-options li:hover a {
  opacity: .75;
}

.logout {
  background: #E226FF;
  text-align: center;
  padding: 1em;
}

.logout h1 {
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.logout:hover h1{
  cursor: pointer;
  opacity: .5;
}

/* nav border */
.border-right {
  border-right: 1px solid #E7E7E7;
}

.border-bottom {
  border-bottom: 1px solid #E7E7E7;
}


/*********************
        HOME
*********************/
