/** {
  border: 1px solid yellow;
}*/

body {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  color: #E7E7E7;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.background {
  background: rgba(5,197,255,1);
  background: -moz-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,197,255,1)), color-stop(33%, rgba(86,139,255,1)), color-stop(90%, rgba(226,38,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -o-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -ms-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: linear-gradient(135deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05c5ff', endColorstr='#e226ff', GradientType=1 );
}

.background.overlay {
  position: absolute;
  opacity: .5;
  width: 100%;
  height: 730px;
}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.heading-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #05C5FF;
  margin: 0;
  height: 65px;
}

.icon-container {
  position: absolute;
  top: -.1em;
  font-size: 4.35em;
  text-align: center;
  padding-left: .25em;
}

.icon-container:hover a {
  opacity: .5;
}

.icon-container a {
  color: white;
}

.menu-heading {
  display: block;
  margin: auto;
  text-align: center;
}

.menu-icon {
  top: -20px;
  right: 12px;
}

.menu-icon i {
  font-size: .55em;
}

.menu-icon i:nth-child(2) {
  padding-left: 30px;
}

.background-body {
  position: relative;
  height: 665px;
  box-sizing: border-box;
}

.user-img-icon-container {
  right: 0px;
  width: 40px;
  height: 40px;
}

.user-img-icon-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

/*********************
        NAV
*********************/
.account-options-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.navigation-options {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 600px;
}

.navigation-options li {
  height: 150px;
  color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  letter-spacing: 1px;
}

.navigation-options li:hover {
  cursor: pointer;
  background-color: rgba(240,240,240,.5);
}

.navigation-options i {
  vertical-align: middle;
  font-size: 35px;
  color: #E7E7E7;
  display: block;
}

.nav-text {
  line-height: 150px;
  display: block;
}

.navigation-options li a {
  color: white;
  text-decoration: none;
}

.navigation-options li:hover i,
.navigation-options li:hover a {
  opacity: .75;
}

.account-option {
  position: relative;
  text-align: center;
  line-height: 65px;
  height: 65px;
  background: #E226FF;
}

.account-option span {
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.account-option:hover span {
  cursor: pointer;
  opacity: .5;
}


/*********************
        HOME
*********************/
.img-background {
  margin: auto;
  max-width: 500px;
  height: 730px;
}

.home-bg {
  background: url(../img/jellyfish.jpeg) no-repeat top left;
  background-size: cover;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.home-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.home-greeting {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 35%;
}

.home-greeting i {
  font-size: 3em;
}

.home-greeting h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
}

.user-img-div {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-img-container {
  height: 115px;
  width: 115px;

}

.user-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.home-options {
  background: none;
  position: relative;
  display: block;
}

.arrow-container {
  position: absolute;
  display: block;
  right: 1em;
  top: .06em;
}

.home-options.account-option:hover i {
  cursor: pointer;
  opacity: .5;
}

.home-options.account-option a {
  text-decoration: none;
  color: white;
}

.arrow-container i {
  font-size: 2em;
}

.arrow-icon-container i {
  display: block;
}


/*********************
        SIGN UP
*********************/
.signup-body {
  height: 665px;
  position: relative;
  box-sizing: border-box;
}
.signup-options {
  display: flex;
  flex-flow: row wrap;
}

.signup-option {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.signup-option i {
  font-size: 2em;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
}

.email i {
  padding-right: 10px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 30px;
}

.signup-form label {
  width: 30%;
  opacity: .5;
  font-size: .75em;
}

.signup-form p {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.signup-form p:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

input {
  border: none;
  background: none;
  width: 70%;
}

input::-webkit-input-placeholder {
  color: white;
}
input::-moz-placeholder {
  color: white;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  color: white;
}
input:-ms-input-placeholder {
  color: white;
}

.radio-button {
  width: 30px;
  padding: 0 5px;
  margin: 0;
}

.radio-gender {
  padding: 0 50px 0 0;
}

.signup.account-option {
  position: absolute;
  bottom: 0;
  border: none;
  width: 100%;
  background: #E226FF;
  left: 0;
}


/*********************
        INTRO TASK
*********************/
.intro-task-bg {
  background: url(../img/silhouette.jpeg) no-repeat center;
  background-size: cover;
}

.task-intro {
  background: none;
  font-size: 5em;
}

.task-intro i {
  margin: auto;
}

.task-intro-body {
  position: relative;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.task-intro-body i {
  display: block;
  padding-top: 75px;
  font-size: 18em;
}

.task-intro-body p {
  margin: auto;
  width: 60%;
  line-height: 200%;
}

.task-intro-option {
  background: none;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  width: 50%;
}


/*********************
        CAL-DAY
*********************/
.user-icon {
  top: -12px;
  right: 12px;
}

.calendar-body {
  position: relative;
  height: 665px;
  box-sizing: border-box;
}

.calendar-overview-specifier {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: .75em;
  height: 80px;
}

.calendar-overview-specifier i {
  font-size: 1.5em;
}

.calendar-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  height: 150px;
}

.overview-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
  margin: 0;
}

.overview-detail > span:nth-child(1) {
  font-size: 4.25em;
}

.overview-detail > span:nth-child(2) {
  line-height: 50px;
}

.calendar-tasks {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 305px;
}

.calendar-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.calendar-tasks .calendar-task:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.task-subtitle {
  display: block;
  font-size: .85em;
  padding-top: 6px;
  opacity: .5;
}

.task-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25em;
}

.time-big {
  display: inline-block;
  font-size: 2.5em;
}

.time-small {
  display: inline;
}

.time-small span:nth-child(2) {
  display: block;
  font-size: .75em;
  opacity: .75;
}

.hangouts-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.subdiv {
  width: 65%;
}


.calendar-options-background {
  position: absolute;
  bottom: 0;
  background: rgba(175,89,255,1);
  background: -moz-linear-gradient(-45deg, rgba(175,89,255,1) 0%, rgba(245,107,255,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(175,89,255,1)), color-stop(100%, rgba(245,107,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(175,89,255,1) 0%, rgba(245,107,255,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(175,89,255,1) 0%, rgba(245,107,255,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(175,89,255,1) 0%, rgba(245,107,255,1) 100%);
  background: linear-gradient(135deg, rgba(175,89,255,1) 0%, rgba(245,107,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af59ff', endColorstr='#f56bff', GradientType=1 );
  opacity: .75;
  height: 65px;
  width: 100%;
}

.options {
  position: absolute;
  bottom: 0;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  margin: 0;
}

.options i {
  display: block;
  font-size: 2.5em;
  padding: 0 24px;
  line-height: 65px;
  opacity: .85;
}

.options i:hover {
  color: white;
}

.options i:nth-child(2) {
  font-size: 3.5em;
}


/*********************
        GROUPS
*********************/
.groups.background.overlay {
  height: 221.67px;
  opacity: .7;
}

.groups-music-bg {
  background: url(../img/music.jpg) no-repeat center;
  background-size: cover;
  height: 221.67px;
  opacity: .85;
}

.groups-music-bg:hover {
  cursor: pointer;
  opacity: 1;
}

.groups-music-bg:hover .group-total-items {
  cursor: pointer;
  color: gray;
  background: white;
  opacity: .5;
}

.groups-architecture-bg {
  background: url(../img/architecture.jpg) no-repeat top left;
  background-size: cover;
  height: 221.67px;
  opacity: .85;
}

.groups-architecture-bg:hover {
  cursor: pointer;
  opacity: 1;
}

.groups-architecture-bg:hover .group-total-items {
  cursor: pointer;
  color: gray;
  background: white;
  opacity: .5;
}

.groups-travel-bg {
  background: url(../img/travel.jpg) no-repeat center;
  background-size: cover;
  height: 221.67px;
  opacity: .85;
}

.groups-travel-bg:hover {
  cursor: pointer;
  opacity: 1;
}

.groups-travel-bg:hover .group-total-items {
  cursor: pointer;
  color: gray;
  background: white;
  opacity: .5;
}

.group-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 221.67px;
  align-items: center;
}

.group-name {
  padding: 0;
  margin: 0;
}

.group-total-items {
  margin-top: 12px;
  display: block;
  text-align: center;
  height: 40px;
  width: 100px;
  line-height: 40px;
  border: 1px solid white;
}


/*********************
        TIMELINE
*********************/
.timeline-overview-specifier {
  text-align: center;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.timeline-overview-specifier h1 {
  margin: 0;
  padding: 0;
}

.timeline-date {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  opacity: .5;
}

.timeline-date i {
  font-size: 1.75em;
}

.timeline-overview {
  padding: 0 30px;
  height: 600px;
  overflow: scroll;
}

.timeline-tasks {
  display: flex;
  flex-direction: column;
  padding: 24px 0;

}

.timeline-task {
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.timeline-task-title {
  width: 50%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline.task-title {
  height: 100%;
}


/*********************
        OVERVIEW
*********************/
.calendar-overview-specifier a {
  color: white;
  text-decoration: none;
}

.calendar-overview-specifier a:hover {
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.overview-graph {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

/*********************
        PROFILE
*********************/
.profile-pic {
  position: relative;
  height: 300px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.profile-pic i {
  position: absolute;
  color: white;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 50%;
  font-size: 2em;
  bottom: 12px;
  left: 12px;
  text-shadow: 2px 2px 5px gray;
  box-shadow: 2px 2px 5px gray;
}

.profile-pic i:hover {
  opacity: .5;
}

.profile-overview p {
  margin: 0;
  height: 70px;
  padding: 0 90px;
  text-align: center;
}

.rotate {
  right: -6px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.profile-settings-heading {
  position: relative;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.profile-settings-heading span {
  padding: 0 30px;
  line-height: 55px;
}

.profile-settings-heading > .arrow-container {
  right: 0;
}

.profile-settings {
  padding: 0 30px;
}


/*********************
        LISTS
*********************/
@font-face {
    font-family: Ionicons;
    src: url('../css/ionicons.ttf');
}

.checklist {

}


.checklist div {
  border: 1px solid white;
  padding: 0 30px;
}

.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: "\f3fd";
  font-family: 'Ionicons';
  font-size: 3em;
  opacity: .5;
  display: inline-block;
  vertical-align: middle;
  /*width: 20px;
  height: 20px;*/
  /* padding: 2px; */
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f3fd";
    font-family: 'Ionicons';
    color: white;
    opacity: 1;
}