/** {
  border: 1px solid yellow;
}*/

body {
  margin: 0 auto;
  max-width: 500px;
  color: #E7E7E7;
  font-family: 'Raleway', sans-serif;
}

.background {
  background: rgba(5,197,255,1);
  background: -moz-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,197,255,1)), color-stop(33%, rgba(86,139,255,1)), color-stop(90%, rgba(226,38,255,1)));
  background: -webkit-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -o-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: -ms-linear-gradient(-45deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  background: linear-gradient(135deg, rgba(5,197,255,1) 0%, rgba(86,139,255,1) 33%, rgba(226,38,255,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05c5ff', endColorstr='#e226ff', GradientType=1 );
}

.heading-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #05C5FF;
  margin: 0;
  padding: 1em;
}

.icon-container {
  position: absolute;
  top: -.2em;
  font-size: 4.35em;
  text-align: center;
  padding-left: .25em;
}

.icon-container a {
  color: white;
}

.icon-container:hover a {
  opacity: .5;
}

.heading-h1-container {
  margin: auto;
}

.heading-h1 {
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navigation-options {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 600px;
}

.navigation-options li {
  height: 150px;
  color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  letter-spacing: 1px;
  /*margin: 0;*/
  /*padding: 2.75em 0;*/
  /*line-height: 150px;*/
}

.navigation-options li:hover {
  cursor: pointer;
  background-color: rgba(240,240,240,.5);
}
.navigation-options i {
  vertical-align: middle;
  font-size: 35px;
  color: #E7E7E7;
  display: block;
}

.nav-text {
  line-height: 150px;
  display: block;
}

.navigation-options li a {
  color: white;
  text-decoration: none;
}

.navigation-options li:hover i,
.navigation-options li:hover a {
  opacity: .75;
}

.account-option {
  position: relative;
  text-align: center;
  padding: 1em;
}

.nav.account-option {
  background: #E226FF;
}

.account-option h1 {
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.account-option:hover h1{
  cursor: pointer;
  opacity: .5;
}

/* nav border */
.border-right {
  border-right: 1px solid #E7E7E7;
}

.border-top {
  border-top: 1px solid #E7E7E7;
}


/*********************
        HOME
*********************/
.img-background {
  /*position: relative;*/
  margin: auto;
  width: 500px;
  height: 500px;
  background: url(../img/jellyfish.jpeg) no-repeat top left;
  background-size: cover;
}

.background.overlay {
  position: absolute;
  opacity: .5;
  width: 500px;
  height: 500px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 500px;
}

.home-body {
  position: relative;
  font-size: .55em;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

.home-icon-container {
  font-size: 5em;
}

/*.user-img-div {
  padding: 3em 0;
}*/

.user-img {
  height: 10em;
  width: 10em;
  border: 3px solid white;
  border-radius: 50%;
}

.arrow-container {
  position: absolute;
  right: 1em;
  top: .25em;
  font-size: 2em;
}

.home-options {
  position: relative;
}

.home-options.account-option:hover i {
  cursor: pointer;
  opacity: .5;
}

.arrow-icon-container i {
  display: block;
}